.serverpage {
    position: absolute;
    width: 100%;

    .content {
        margin-top: 40px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 300px;

        h1 {
            text-align: left;
            margin-bottom: 50px;
            width: 900px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 30px;
        }
    }
}