@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');


@font-face {
    font-family: termina;
    src: url('../fonts/TerminaTest-Bold.otf');
}

* {
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    a {
        color: white;
    }
}

body {
    background-color: #000f3d;
}