[Unit]
Description=Agent distant Bash
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/agent/main.py
WorkingDirectory=/home/agent/
Restart=always
Environment=AGENT_TOKEN=changeme

[Install]
WantedBy=multi-user.target